@model Product
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Detail</h2>

<p>@Model.Product_Name</p>
<p>@Model.Product_RAM</p>
<p>@Model.Product_ImageThumbnail</p>
<p>@Model.Product_Price</p>
<p>@Model.Product_IsPreferred</p>
<p>@Model.Product_InStock</p>

